@tailwind base;
@tailwind components;
@tailwind utilities;

aside.msg.alert {
  background: hsl(var(--er)) !important;
  color: hsl(var(--erc)) !important;
}

aside.msg {
  background: hsl(var(--wa)) !important;
  color: hsl(var(--wac)) !important;
}

.znc a {
  color: inherit !important;
}

.znc blockquote {
  color: inherit !important;
}

.znc ul > li::marker {
  color: inherit !important;
}

.znc ol > li::marker {
  color: inherit !important;
}

.znc th,
td {
  border-color: hsl(var(--tw-prose-hr)) !important;
  background: inherit !important;
}
.znc th {
  border-color: hsl(var(--tw-prose-hr)) !important;
  background-color: hsl(var(--b2)) !important;
}

.znc hr {
  border-top: 2px solid var(--tw-prose-hr) !important;
}

.znc details[open] summary {
  background-color: hsl(var(--b2)) !important;
}
